* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: url(Photo1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 300px;
  width: 95vw; /* Changed from 95rem to 95vw for responsiveness */
  margin-left: auto; /* Centering the container */
  margin-right: auto; /* Centering the container */
}

.heading {
  background-image: url(Photo2.jpeg);
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
  animation: size 1s infinite alternate;
}

@keyframes size {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.632);
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-weight: bolder;
  font-size: larger;
  color: white;
  border-top: 2px solid aqua;
  border-bottom: 2px solid aqua;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-top: 100px;
}

.Continue:hover {
  box-shadow: 5px 2px 5px aqua;
  animation: size1 0.5s infinite alternate;
}

@media only screen and (max-width: 768px) {
  .container1 {
    height: auto; 
    padding: 20px;
  }

  .heading {
    font-size: 2rem; 
  }

  .buttons {
    height: auto; 
    margin-top: 500px; 
    padding: 20px; 
  }
}
